# FILES -------------------------

# file type
*.gem
*.bk

# jekyll file
.bundle
.sass-cache
.jekyll-metadata
Gemfile.lock

# other file
# Rakefile

# DIRECTORIES ---------------------

# jekyll directory
_site
_drafts/**/*  # ignore during div
# _posts/**/* # ignore during div

# other directory
_bower_components

# HELPERS -------------------------
gh-md-toc # toc generator


# Exceeption
## `.gitkeep` are placeholder file, added to empty directory to create and keep
!/**/.gitkeep
